.container {  
  display: grid;
  grid-template-columns: 10% 20% 40% 20% 10%; 
  grid-template-rows: 10% 15% 65% 10%;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "leftuppcorner leftuppcorner . rightuppcorner rightuppcorner"
    ". title title date sidelinks"
    ". content-links content content sidelinks"
    "footer footer footer footer footer";
}

.content { grid-area: content;
width: 400px;
padding: 10px;
margin: 187px;

font-family: 'Anonymous Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
}

.side-links { grid-area: content-links; 
width: 400px;
padding: 10px;
margin: 187px;
font-family: 'Anonymous Pro';
font-style: bold;
font-weight: 400;
font-size: 18px;
line-height: 24px;
}

.title { grid-area: title; }
width: 700px;
padding: 10px;
margin: 65px;

.date { grid-area: date; 
width: 700px;
padding: 10px;
margin: 65px;

font-family: 'Anonymous Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
}

.sidelinks { grid-area: sidelinks;
width: 700px;
padding: 10px;
margin: 65px;
writing-mode: vertical-lr;

font-family: 'Anonymous Pro';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 24px;
}

.leftuppcorner { grid-area: leftuppcorner;
width: 200px;
padding: 10px;
margin: 70px;

font-family: 'Anonymous Pro';
font-style: italic;
font-weight: 400;
font-size: 18px;
line-height: 24px;
}

.rightuppcorner { grid-area: rightuppcorner; 
width: 200px;
padding: 10px;
margin: 70px;

font-family: 'Anonymous Pro';
font-style: bold;
font-weight: 400;
font-size: 18px;
line-height: 24px;
}

.footer { grid-area: footer;
font-family: 'Anonymous Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 24px;
}
